

<div class="container" style="margin-top: 6%;">
    <div class="row">
        <div class="col-md-2"></div>
      <div class="col-md-10">
        <h4 style="text-align: center;">Student Registration Form</h4>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Date Of Birth</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                 
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Gender</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
              </div>
           
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Address</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Phone</label>
                 <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Course</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">                  


                </div>
              </div>
           
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
      </div>
    </div>
</div>