<div class="container">
  <div class="row">
    <form [formGroup]="datashow" (ngSubmit)="addPost()">


      <label>user id</label>
      <div>
        <input type="text" class="form-control" formControlName="userid">
        <span class="text-danger" *ngIf="(userPost.userid.touched || submitted) && userPost.userid.errors">
          Please Enter the User ID
        </span>
      </div>


      <label>id</label>
      <div>
        <input type="text" class="form-control" formControlName="id">
        <span class="text-danger" *ngIf="(userPost.id.touched || submitted) && userPost.id.errors">
          Please Enter the ID
        </span>
      </div>


      <label>title</label>
      <div>
        <input type="text" class="form-control" formControlName="title">
        <span class="text-danger" *ngIf="(userPost.title.touched || submitted) && userPost.title.errors">
          Please Enter the title
        </span>
      </div>


      <label>body</label>
      <div>
        <input type="text" class="form-control" formControlName="body">
        <span class="text-danger" *ngIf="(userPost.body.touched || submitted) && userPost.body.errors">
          Please Enter the body
        </span>
      </div>


      <button type="submit">Submit</button>
    </form>
  </div>
</div>